<head>
    <title>Library</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>


<body class="taust">
<div id="login">
    <input id="kasutajanimi" value="lauri" placeholder="username"/><br>
    <input id="parool" value="parool123" placeholder="password" /><br>
    <button class="button1" align="right"><a href="tootajaLeht.html" style="text-decoration:none" ><h1>SISENE</h1></a></button>
</div>




<form>
    <input id="otsing" value="" placeholder="" action="param-received.html" method="GET" class="form" align="center"/><h1></h1><br>

</form>
<br>




<div class="andmed">
    <div id="pildikoht" ></div>
    <div id="pealkiri" ></div>
    <div id="autor" ></div>
</div>




</body>
<script src="raamatuotsingKLIENTpealeht.js"></script>
</html>