h1{
  margin: 2%;
  font-family: "Lucida Console";
  color: black;
  font-size: 170%;
}
.button1{
    float:right;
    margin: 7px;
    background-color: white;
    align: center
    color: white;
    height: 50px;
    width: 200px;
    border:;
    border-width: thin;
    border-radius:3px;
    border-color: rgb(0,0,10) ;
    text-shadow: grey 1px 0 2px;
    box-shadow: 0 0 4px rgb(0,0,0);
}
.button1:hover{
  font-size: 100%;
  border-color: black ;
  box-shadow: 0 0 20px rgb(0,0,0);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}


.form{
    position: absolute;
    top: 200px;
    left: 20%;
    padding; 2%;
    margin:;
    height: 60px;
    width: 60%;
    background-color: rgb(white);
    border-width: thin;
    box-shadow: 0 0 4px rgb(0,0,0);
    padding: 12px 20px;
    text-align: center;
    font-size: 24px;
    border-radius:3px;
}
.form:hover{
    box-shadow: 0 0 7px rgb(0,0,0);
}

.andmed{
    position: absolute;
    top: 300px;
    left: 20%;
    height: 150px;
    width: 290px;


}
#pilt{
    border-width:1px;
    border-style:solid;
    border-color:black;
    height: 150px;
    width: 150px;
    position: absolute;
        top: ;
        left:;
    background:white;


}
#pealkiri{
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 10px;

    height: 50px;
    width: 100px;
}
#autor{
    position: absolute;
    right: 0%;
    bottom: 0%;
    padding: 10px;

    height: 50px;
    width: 100px;
}

body{
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#kasutajanimi{

    background-color: white;
        padding; 1%;
        margin:7px;
        height: 20px;
        width: 200px;
        background-color: rgb(white);
        border-width: thin;
        box-shadow: 0 0 4px rgb(0,0,0);
        padding: 12px 20px;
        text-align: left;
        border-radius:3px;
}
#parool{

        background-color: rgb(white);
            padding; 1%;
            margin:7px;
            height: 20px;
            width: 200px;
            background-color: rgb(white);
            border-width: thin;
            box-shadow: 0 0 4px rgb(0,0,0);
            padding: 12px 20px;
            text-align: left;
            border-radius:3px;
}
#login{
    float: right;
}