#form{
    position: absolute;
    top: 150px;
    left: 5%;
    padding; 1%;
    margin:;
    height: 30px;
    width: 60%;
    background-color: rgb(0,0,0,0);
    padding: 12px 20px;
    text-align: left;
    font-size: 17px;

}
#nimi{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white;
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);

    text-align: left;
    font-size: 20px;
    border-radius:3px;
}
#nimi:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}
#title{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white;
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);

    text-align: left;
    font-size: 20px;
    border-radius:3px;
}
#title:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}

#telefon{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white;
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);

    text-align: left;
    font-size: 20px;
    border-radius:3px;
}
#telefon:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}
#tahtaeg{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white;
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);

    text-align: left;
    font-size: 20px;
    border-radius:3px;
}
#tahtaeg:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}
#button{
      float:left;
      margin: 2%;
      background-color: white;
      align: center
      color: white;
      height: 25px;
      width: 100px;
      border:;
      border-width: thin;
      border-radius:3px;
      border-color: rgb(0,0,10) ;
      text-shadow: grey 1px 0 2px;
      box-shadow: 0 0 2px rgb(0,0,0);
  }
  #button:hover{
    font-size: ;
    border-color: black ;
    box-shadow: 0 0 10px rgb(0,0,0);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

#button2{
      float:left;
      margin: 10px;
      background-color: white;
      text-align: center;

      height: 20px;
      width: 100px;
      border:;
      border-width: thin;
      border-radius:3px;
      border-color: rgb(0,0,10) ;
      text-shadow: grey 1px 0 2px;
      box-shadow: 0 0 2px rgb(0,0,0);
  }
  #button2:hover{
    font-size: ;
    border-color: black ;
    box-shadow: 0 0 10px rgb(0,0,0);
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }

p{
    font-size: 20px;
}

body{
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
