.form{
    position: absolute;
    top: 150px;
    left: 5%;
    padding; 1%;
    margin:;
    height: 30px;
    width: 60%;
    background-color: rgb(0,0,0,0);
    padding: 12px 20px;
    text-align: left;
    font-size: 17px;

}
#title3{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white;
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);
    text-align: left;
    font-size: 20px;
    border-radius:3px;
}
#title3:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}

#author{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white);
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);

    text-align: left;
    font-size: 20px;
    border-radius:3px;
}
#author:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}

#numOfPages{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white;
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);
    text-align: left;
    font-size: 20px;
    border-radius:3px;
}
#numOfPages:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}

#summary{

    padding; 20px;
    margin:1%;
    height: 30px;
    width: 60%;
    background-color: white;
    border-width: thin;
    box-shadow: 0 0 1px rgb(0,0,0);
    text-align: ;
    font-size: 20px;
    border-radius:3px;
}
#summary:hover{
    box-shadow: 0 0 2px rgb(0,0,0);
}



.button{
    float:left;
    margin: 2%;
    background-color: white;
    align: center
    color: white;
    height: 25px;
    width: 100px;
    border:;
    border-width: thin;
    border-radius:3px;
    border-color: rgb(0,0,10) ;
    text-shadow: grey 1px 0 2px;
    box-shadow: 0 0 2px rgb(0,0,0);
}
.button:hover{
  font-size: ;
  border-color: black ;
  box-shadow: 0 0 10px rgb(0,0,0);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

h1{
  margin: 2%;
  font-family:;
  color: black;
  font-size: 80%;
}
.button1{
    float:left;
    margin: ;
    background-color: white;
    align: center
    color: white;
    height: 17px;
    width: 100px;
    border:;
    border-width: thin;
    border-radius:3px;
    border-color: rgb(0,0,10) ;
    text-shadow: grey 1px 0 1px;
    box-shadow: 0 0 2px rgb(0,0,0);}
}
.button1:hover{
  font-size: 100%;
  border-color: black ;
  box-shadow: 0 0 20px rgb(0,0,0);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
 body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
 }
