body{
   background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}



.andmed{
    position: absolute;
    top: 10%;
    left: 10%;
    height: 70%;
    width: 50%;




}
#pilt{
    border-width:1px;
    border-style:solid;
    border-color:black;
    height: 100%;
    width: 50%;
    position: absolute;
        top: 0%;
        left:;
    background: white;

}
#pealkiri{
    position: absolute;
    top: 0%;
    left: 55%;
    padding: 10px;

    height: 15%;
    width: 40%;


}
#autor{
    position: absolute;
    top: 20%;
    left: 55%;
    padding: 10px;

    height: 15%;
        width: 40%;


}

#kokkuvõte{
    position: absolute;
    top: 40%;
    left: 55%;
    padding: 10px;

    height: 55%;
    width: 40%;


}
p2{
  margin: -2%;
  font-family:;
  color: black;
  font-size: 200%;
}


.button1{
    float:left;
    margin: 7px;
    background-color: white;
    text-align: center;
    color: white;
    height: 20px;
    width: 100px;
    margin: ;
    font-family:;
    color: black;
    font-size: 100%;;
    border:;
    border-width: thin;
    border-radius:3px;
    border-color: rgb(0,0,10) ;
    text-shadow: grey 1px 0 2px;
    box-shadow: 0 0 4px rgb(0,0,0);
}
.button1:hover{
  font-size: 100%;
  border-color: black ;
  box-shadow: 0 0 20px rgb(0,0,0);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

body{
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
