.button2{
    position: absolute;
    top: 170px;
    left: 20%;
    padding; 2%;
    background-color: white;
    align: center
    color: white;
    height: 200px;
    width: 1000px;
    border:;
    border-width: thin;
    border-radius:3px;
    border-color: rgb(0,0,10) ;
    text-shadow: grey 1px 0 2px;
    box-shadow: 0 0 4px rgb(0,0,0);
    text-align: center;
    text-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button2:hover{
  font-size: 100%;
  border-color: black ;
  box-shadow: 0 0 20px rgb(0,0,0);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.button3{
    position: absolute;
    top: 400px;
    left: 20%;
    padding; 2%;
    background-color: white;
    align: center
    color: white;
    height: 200px;
    width: 1000px;
    border:;
    border-width: thin;
    border-radius:3px;
    border-color: rgb(0,0,10) ;
    text-shadow: grey 1px 0 2px;
    box-shadow: 0 0 4px rgb(0,0,0);
    display: flex;
        justify-content: center;
        align-items: center;
}
.button3:hover{
  font-size: 100%;
  border-color: black ;
  box-shadow: 0 0 20px rgb(0,0,0);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.button1{
    float:left;
    margin: ;
    background-color: white;
    align: center
    color: white;
    height: 17px;
    width: 100px;
    border:;
    border-width: thin;
    border-radius:3px;
    border-color: rgb(0,0,10) ;
    text-shadow: grey 1px 0 1px;
    box-shadow: 0 0 2px rgb(0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;

}
.button1:hover{
  font-size: 100%;
  border-color: black ;
  box-shadow: 0 0 5px rgb(0,0,0);
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

h1
{

  font-family: "Lucida Console";
  color: black;
  font-size: 200%;

}
body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
 }
